body {  
    margin: 0;
    max-width: 100%;
    text-align: center;    

}

.margins {
    display: inline-block;
    background: blue;
    width: 300px;
    height: 200px;
    border: 10px solid aqua;
    border-radius: 30px;
    border-top: 200px solid aqua;
    
    padding: 100px;
    margin: 10px;
    display:inline-block;
    left: calc(50% - 150px);
    top: calc(20% - 15px);
}

p {
    display: inline-block;
}

span {
    display: inline-block;
}


.header-menu {
    background-color: #333; /* Color de fondo del menú */
  }
  
  .header-menu ul {
    list-style: none; /* Quita los estilos de la lista */
    padding: 0;
    margin: 0;
  }
  
  .header-menu li {
    display: inline-block; /* Coloca los elementos en línea */
    position: relative; /* Establece posición relativa para los elementos que contienen desplegables */
  }
  
  .header-menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .header-menu li:hover .dropdown-content {
    display: block; /* Muestra los elementos desplegables al pasar el ratón sobre el elemento principal */
  }
  
  .dropdown-content {
    display: none; /* Oculta los elementos desplegables por defecto */
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
  }
  
  .dropdown-content a:hover {
    background-color: #555; /* Color de fondo al pasar el ratón */
  }
  


.wrapper {
    height: 2000px; /* Altura suficiente para hacer el scroll */
    position: relative;
  }
  
  .spacer {
    height: 1000px; /* Altura para simular el espacio antes de que el elemento se pegue */
  }
  
  .box-red {
    width: 100px;
    height: 100px;
    background-color: tomato;
    position: absolute;
    border-radius: 40px;
    left: calc(50% - 50px);
    top: calc(35% - 50px);

}

.box-blue {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: sticky;
    border-radius: 40px;
    left: calc(50% - 50px);
    top: calc(35% - 50px);
}

.box-blue:before {
    content: '';
    display:block;
    height: 100px;
}

.box-blue:after {
    content: '';
    display:block;
    height: 100px;
} 