* {
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to right, #74A9DB, #ffffff);
    height: 100px;
    border-bottom: 12px solid;
    border-image: linear-gradient(to right, #ffffff, #74A9DB) 1;
}

h2 {
    margin: 0;
}

a {
    text-decoration: none;
    color: #4fb13e;
}

 /*----------------------HEADER-----------------*/

.header-container {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.header1 {
    padding: 5px;
}

.content1 {
    font-family: Arial, Helvetica, sans-serif; 
}

 /*-------------------------MAIN------------------*/

.desafio-container {
    max-width: 100%; 
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.desafio1 {
    background: linear-gradient(#9d85f7, #ffffff);
    padding: 45px;
    width: 600px;
    position: center;
    font-family: Arial, Helvetica, sans-serif;
}

.desafio2 {
    background: linear-gradient(#ffffff,#9d85f7);
    padding: 45px;
    width: 600px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

#footer1 {
    background-color: rgb(254, 251, 200);
    width: 400px;
    height: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

ul {
    list-style-type: circle;
}