header {
    grid-area: header;
    background-color: aqua;
}
nav {
    grid-area: nav;
    background-color: yellow;
}

main {
    grid-area: main;
    background-color: green;
}

aside {
    grid-area: aside;
    background-color: red;
}

footer {
    grid-area: footer;
    background-color: blue;
}

.container {
    display: grid;
    grid-template-columns: 160px auto 160px;
    grid-template-rows: repeat(6, 100px);
    gap: 10px;
    grid-template-areas: 
    "header header header"
    "aside aside aside"
    "nav nav nav"
    "main main main"
    ". footer .";
}

@media screen and (min-width: 768px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        "header header header header"
        "aside aside nav nav"
        "main main nav nav "
        ". footer footer .";
    }
}

@media screen and (min-width: 1024px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "header header header"
        "aside nav nav"
        "main nav nav  "
        "footer footer footer";
    }    
}